@mixin checked {
    text-decoration: line-through;
    color: #b4b4b4;
}

.app--popup {
    .app--content {
        min-width: 540px;
        margin: 8px;

        h3[data-collapse] {
            &[data-checked="1"] {
                @include checked;
            }
        }
    }

    ul {
        &[data-content] {
            li {
                cursor: pointer;

                &[data-checked="1"] {
                    @include checked;
                }
            }
        }
    }

    label {
        cursor: pointer;
        position: relative;
        display: block;
    }

    .collapsible {
        cursor: pointer;
    }

    .chat-issue-list {
        max-height: 125px;
        overflow-x: scroll;
    }
}
