.app--popup {
    .app--content {
        min-width: 540px;
        margin: 8px;
    }

    li {
        list-style: disc;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    .nav li {
        list-style: none;
    }

    ul {
        list-style: none;
        padding-left: 20px;
    }

    .checked {
        text-decoration: line-through;
        color: #b4b4b4;
    }

    label {
        cursor: pointer;
        position: relative;
        display: block;
    }

    .collapsible {
        cursor: pointer;
    }
}
